<p style="color: green"><%= notice %></p>

<h1>Listing all Users</h1>

<div id="users" class="text-center rounded shadow mt-4">
  <% @users.each do |user| %>
<p>
    <%= link_to user.username, user%>
  </p>
  <p>
        <%= link_to gravatar_for(user), user%>

   </p>
  <p>
    <%= pluralize(user.articles.count, "article" )%>
  </p>    <p>
      <%= link_to "view profile", user %>
            <%= link_to "Edit profile", edit_user_path(user) %>

    </p>
    <p>Joined <%= time_ago_in_words(user.created_at) %> ago</p>
  <% end %>
</div>

<%= link_to "New User", new_user_path %>
<div class= "apple_pagination">
  <%= will_paginate @users, :container => false %>
</div>